body{
    margin: 0;
    padding: 0;
    background-color: #604484;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

h1{font-size: 50px;}

h2{font-size: 30px; margin:50px;}

h3{color: #3c2c50;}

p{

    font-size: 20px;
    text-align: justify;
    margin: 50px;

}

.block1{
    background-color: #00000076;
    box-shadow: #000000 0 0 10px;
    padding: 10px 50px 20px 50px;
    border-radius: 10px 0 0 10px;
    height: auto;
    overflow: hidden;

}


.block2{
    background-color: #00000076;
    padding-bottom: 300px;
    position : relative;
    width:100%;
    height: 100%;
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
nav{
    background-color: #3c2c50;
    box-shadow: #000000 0 0 10px;
    padding: 10px 50px 10px 50px;
}

#navbar{
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display : inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-align: justify;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

nav ul li a:hover {
    color: #fff;
    text-shadow: #fff 0 0 15px;
    transition : all 0.5s ;
}
.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #3c2c50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: opacity 0.8s ease, visibility 0.8s ease;
    z-index : 9999;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.logo{
    height: auto;
    width: 7%;
    margin: 5px 10px 5px 10px;
}

/*Navigatiion Bar */


/*Reserveation Form */

#calendar {
    max-width: 600px;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    align-self: center;
    position : relative;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th {
    padding: 10px;
    text-align: center;
}

.calendar-table td {
    padding: 10px;
    text-align: center;
}

.calendar-table td:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.calendar-table .selected {
    background-color: #3c2c50;
    color: #fff;
}

/*Reserveation Form */









/* Contact Us Form */

.contact-form {
    max-width: 800px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-self: center;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3c2c50;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    margin-bottom: 10px;
}

.contact-form label {
    font-weight: bold;
    color: #555;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #3c2c50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #5a476d;
}

#reservation-box{


    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #604484;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position : relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.girl_pointing_img{
    display :inline-flex; width: 50%;max-width: 500px;
    margin : auto;
    border-radius: 10px;
    float : left;




}


#left{
    float: left;
}
#right{
    float: right;
    margin-left: 50px;
}

#centered{
    text-align: center;
}

.contact_button {
    background-color: #3c2c50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin : 10px auto;
    align-self: center;
}

.contact_button:hover {
    background-color: #5a476d;
}



.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    color : white;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}





footer {
    background-color: #000000;
    color: #fff;
    font-size: 18px;
    height:auto;
    display : flex;

}

.footer-content {

    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 2000px;



}

.footer-section {flex: 1 1 150px;}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}



.social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media li {
    margin-right: 10px;
}

.social-media img {
    width: 40px;
}

iframe {border-radius: 10px 10px 10px 10px;}

form {
    display: flex;
    justify-content: center;
}

.footer-content input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.footer-content button[type="submit"] {
    background-color: #604484;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.footer-bottom p {
    margin :0px;

}
